.nav-link{
    border:1px solid white;
    margin-left: 10px;
    margin-right:10px;
}
.image1{
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 20px;
    height: 300px;
    
    float: left;

}

.para1{
    width:100%;
    line-height:400%;
    margin-top: 10px;
    height: 300px;
    font-family: cursive;
}
hr {
    margin-top: 50px;
    border-style: none;
    background-color: white;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
    margin-bottom: 50px;
}
.image2{
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 20px;
    height: 300px;
    
    float: right;
}
.para2{
    width:100%;
    line-height: 400%;
    margin-top: 10px;
    height: 300px;
    margin-left: 10px;
    font-family: cursive;
}

.contact{
    padding: 4%;
    height: 400px;
}
.col-md-3{
    background: #ff9b00;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.contact-info{
    margin-top:10%;
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
.col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
}
.contact-form button{
    background: #25274d;
    color: #fff;
    font-weight: 600;
    width: 25%;
}
.contact-form button:focus{
    box-shadow:none;
}
body{
    padding-right: 0px;
    background-color: rgb(225, 238, 238);
    font-size: 100%;
}